@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul, h1 {
    padding-left: 20px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    grid-template-areas: "sidebar header" "sidebar content";
}

/* Sidebar */
.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template: 1fr 2fr 1fr 3fr / 1fr;
    background-color: #3b82f6;
    color: white;
}

.sidebar .sidebar-title {
    grid-row: 1 / 2;
}

.sidebar .nav1 {
    grid-row: 2 / 3;
    display: grid;
    grid-template: repeat(6, 1fr);
}

.sidebar .nav2 {
    grid-row: 3 / 4;
    display: grid;
    grid-template: repeat(3, 1fr);
}

ul > li, nav > h1 {
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 20px;
}
/* End Sidebar */

/* Header */
.header {
    grid-area: header;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    text-align: center;
}

.searchbar {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: center;
}

.greeting {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.notifications {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.buttons {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
/* End Header */

/* Main content */
.main-content {
    grid-area: content;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
}

/* End Main content */